if produccion
  //- script(src="./js/lib/jquery/dist/jquery.min.js")
  //- script(src="./js/lib/bxslider-4/dist/jquery.bxslider.js")
  //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByGNA3QNn2CrIY-0wKsVZPG3ybywwGP50") 
  script(src="./js/main.js")
  //- script(src="./js/src/analytics.js") 
  //- script(src="./js/src/soundcloud.player.api.js") 

else
  //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByGNA3QNn2CrIY-0wKsVZPG3ybywwGP50") 
  script(src="./js/main.min.js")
